@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareL.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareR.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareB.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareEB.ttf");
  font-weight: 800;
} */

@font-face {
    font-family: "NanumSquareNeo";
    src: url("/font/NanumSquareNeo/NanumSquareNeoL.woff2");
    font-weight: 300;
}
@font-face {
    font-family: "NanumSquareNeo";
    src: url("/font/NanumSquareNeo/NanumSquareNeoR.woff2");
    font-weight: 400;
}
@font-face {
    font-family: "NanumSquareNeo";
    src: url("/font/NanumSquareNeo/NanumSquareNeoB.woff2");
    font-weight: 700;
}
@font-face {
    font-family: "NanumSquareNeo";
    src: url("/font/NanumSquareNeo/NanumSquareNeoEB.woff2");
    font-weight: 800;
}    

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, "NanumSquareNeo",
        BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: rgb(248 250 252);
}