@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareL.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareR.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareB.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareEB.ttf");
  font-weight: 800;
} */

@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareL.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareR.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareB.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareEB.woff2");
  font-weight: 800;
}


@font-face {
    font-family: "NanumSquareNeo";
    src: url("/font/NanumSquareNeo/NanumSquareNeoL.woff2");
    font-weight: 300;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("/font/NanumSquareNeo/NanumSquareNeor.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("/font/NanumSquareNeo/NanumSquareNeoB.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "NanumSquareNeo";
  src: url("/font/NanumSquareNeo/NanumSquareNeoEB.woff2");
  font-weight: 800;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, 'NanumSquare', 'NanumSquareNeo', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* swiper style */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    /* background: none; */
}
/* swiper - progress bar style */
.swiper-pagination-progressbar-fill {
    border: 2px solid rgb(6 182 212);
    border-radius: 0.75rem;
}

/* swiper slider bg color */
.swiper-slide{
  background: none;
  overflow: hidden;
}
.swiper-slide-shadow{
  background: none; 
}
/* .swiper-slide-active{
  margin: 0 auto;
  width: 50% !important;
} */
