@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareL.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareR.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareB.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "NanumSquare";
  src: url("/font/NanumSquare/NanumSquareEB.ttf");
  font-weight: 800;
} */

@font-face {
    font-family: "NanumSquare";
    src: url("/font/NanumSquare/NanumSquareL.woff2");
    font-weight: 300;
}
@font-face {
    font-family: "NanumSquare";
    src: url("/font/NanumSquare/NanumSquareR.woff2");
    font-weight: 400;
}
@font-face {
    font-family: "NanumSquare";
    src: url("/font/NanumSquare/NanumSquareB.woff2");
    font-weight: 700;
}
@font-face {
    font-family: "NanumSquare";
    src: url("/font/NanumSquare/NanumSquareEB.woff2");
    font-weight: 800;
}

@font-face {
    font-family: "NanumSquareNeo";
    src: url("/font/NanumSquareNeo/NanumSquareNeoL.woff2");
    font-weight: 300;
}
@font-face {
    font-family: "NanumSquareNeo";
    src: url("/font/NanumSquareNeo/NanumSquareNeoR.woff2");
    font-weight: 400;
}
@font-face {
    font-family: "NanumSquareNeo";
    src: url("/font/NanumSquareNeo/NanumSquareNeoB.woff2");
    font-weight: 700;
}
@font-face {
    font-family: "NanumSquareNeo";
    src: url("/font/NanumSquareNeo/NanumSquareNeoEB.woff2");
    font-weight: 800;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, "NanumSquare", "NanumSquareNeo",
        BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: rgb(248 250 252);
}

/* swiper style */
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    /* background: none; */
}

/* swiper slider bg color */
.swiper-slide {
    background: none;
    overflow: hidden;
}
.swiper-slide-shadow {
    background: none;
}

/* swiper navigation style */
.swiper-button-prev::after{
    color:rgb(226 232 240);
    background-color: rgba(0,0,0,0.3);
    padding: 1rem;
    border-radius: .5rem;
}
.swiper-button-next::after{
    color:rgb(226 232 240);
    background-color: rgba(0,0,0,0.3);
    padding: 1rem;
    border-radius: .5rem;
}

/* swiper pagination style */
.swiper-pagination-bullet{
    background-color: rgb(226 232 240) !important;
}

/* Category css */
.prevStyle {
    color: white;
    background-color: rgb(15 23 42);
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    cursor: pointer;
}

.currentStyle {
    color: white;
    background-color: #1c28f4;
    border-radius: 30px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
    cursor: pointer;
}

/* iconFilter */
.iconActive{
    opacity: 1;
}